body {
	background-color: #32CD32;
}

.logo-custom {
    height: 35px;
}

.navbar.navbar-expand-lg.navbar-dark {
    background-color: #3CB371;
}

.tbody-custom {
    background-color: #98FB98;
}

.modal{
	top: 99px;
	left:0;
	right:0;
	bottom:0;
	position: fixed;
	background: #90EE90;
	margin: 0 auto;
	display: block;
	padding: 0;
	height: 420px;
	box-shadow: 0 0 130px 28px #90EE90;
}

.modal-head{
	background: #222;
	color: #90EE90;
	padding: 5px;
	font-size: 17px;
	line-height: 32px;
}

.p-left {
    margin-bottom: 0rem;
}

hr {
	border-top: 2px solid rgba(171, 168, 168, 0.1);
}